In [15]:
import numpy as np
import pandas as pd
from calendar import monthrange
import warnings
warnings.filterwarnings("ignore")
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_log_error
from xgboost import XGBRegressor
from sklearn.multioutput import MultiOutputRegressor
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os.path

In [16]:
holidays=pd.read_csv('holidays_events.csv')
oil=pd.read_csv('oil.csv')
stores=pd.read_csv('stores.csv')
test=pd.read_csv('test.csv')
train=pd.read_csv('train.csv',usecols=['store_nbr', 'family', 'date', 'sales', 'onpromotion'])
transactions=pd.read_csv('transactions.csv')

In [17]:
holidays['date'] = pd.to_datetime(holidays['date'])
oil['date'] = pd.to_datetime(oil['date'])
train['date'] = pd.to_datetime(train['date'])
test['date'] = pd.to_datetime(test['date'])
transactions['date'] = pd.to_datetime(transactions['date'])

In [18]:
class BoostedHybrid:
    def __init__(self, model_1, model_2):
        self.model_1 = model_1
        self.model_2 = model_2
        self.y_columns = None  # store column names from fit method
    def fit(self, X_1, X_2, y):
        self.model_1.fit(X_1, y)
        y_fit = pd.DataFrame(
            self.model_1.predict(X_1), 
            index=X_1.index, columns=y.columns,)

        y_resid = y - y_fit
        y_resid = y_resid.stack().squeeze()

        self.model_2.fit(X_2, y_resid)

        self.y_columns = y.columns
        self.y_fit = y_fit
        self.y_resid = y_resid


    def predict(self, X_1, X_2):
        y_pred = pd.DataFrame(
            self.model_1.predict(X_1), 
            index=X_1.index, columns=self.y_columns,)
        y_pred = y_pred.stack().squeeze()  

    # Add model_2 predictions to model_1 predictions
        y_pred += self.model_2.predict(X_2)

        return y_pred.unstack()


# Add method to class
    BoostedHybrid.predict = predict
    BoostedHybrid.fit = fit

In [19]:
train2 = train.set_index(['store_nbr', 'family', 'date']).sort_index()

In [20]:
train2

                                 sales  onpromotion
store_nbr family     date
1         AUTOMOTIVE 2013-01-01    0.0            0
                     2013-01-02    2.0            0
                     2013-01-03    3.0            0
                     2013-01-04    3.0            0
                     2013-01-05    5.0            0
...                                ...          ...
54        SEAFOOD    2017-08-11    0.0            0
                     2017-08-12    1.0            1
                     2017-08-13    2.0            0
                     2017-08-14    0.0            0
                     2017-08-15    3.0            0

[3000888 rows x 2 columns]

In [21]:
family_sales = (
    train2
    .groupby(['family', 'date'])
    .mean()
    .unstack('family')
    .loc['2017']
)

In [22]:
family_sales

                sales                                              \
family     AUTOMOTIVE BABY CARE     BEAUTY    BEVERAGES     BOOKS
date
2017-01-01   0.092593  0.037037   0.055556    74.222222  0.000000
2017-01-02  11.481481  0.259259  11.648148  6208.055556  0.481481
2017-01-03   8.296296  0.296296   7.185185  4507.814815  0.814815
2017-01-04   6.833333  0.333333   6.888889  3911.833333  0.759259
2017-01-05   6.333333  0.351852   5.925926  3258.796296  0.407407
...               ...       ...        ...          ...       ...
2017-08-11   8.166667  0.129630   6.500000  3502.055556  0.000000
2017-08-12   7.462963  0.055556   6.833333  3376.259259  0.000000
2017-08-13   8.907407  0.166667   8.018519  3747.296296  0.018519
2017-08-14   5.407407  0.166667   6.240741  3237.629630  0.000000
2017-08-15   6.240741  0.148148   6.277778  3162.462963  0.000000

                                                                           \
family     BREAD/BAKERY CELEBRATION     CLEANING        DAIRY        DELI
date
2017-01-01     9.084685    0.129630     7.500000    11.518519    3.629167
2017-01-02   844.836296   14.203704  2233.648148  1545.000000  539.114833
2017-01-03   665.124111   10.629630  1711.907407  1204.203704  404.300074
2017-01-04   594.160611   11.185185  1508.037037  1107.796296  309.397685
2017-01-05   495.511611   12.444444  1241.833333   829.277778  260.776500
...                 ...         ...          ...          ...         ...
2017-08-11   522.305296   16.111111  1031.148148   831.648148  345.934963
2017-08-12   507.473111   15.722222  1072.870370   793.592593  290.553574
2017-08-13   615.976981   10.074074  1143.648148   928.000000  325.801371
2017-08-14   518.564019   11.000000  1019.111111   797.222222  271.532241
2017-08-15   539.966574   11.055556  1082.851852   753.833333  276.582463

            ... onpromotion                                        \
family      ...   MAGAZINES      MEATS PERSONAL CARE PET SUPPLIES
date        ...
2017-01-01  ...         0.0   0.018519      0.111111     0.018519
2017-01-02  ...         0.0   0.462963     10.592593     0.537037
2017-01-03  ...         0.0   0.481481      9.722222     0.444444
2017-01-04  ...         0.0   0.370370     12.037037     0.444444
2017-01-05  ...         0.0   8.981481      5.666667     0.000000
...         ...         ...        ...           ...          ...
2017-08-11  ...         0.0  22.925926      9.000000     0.000000
2017-08-12  ...         0.0   0.000000      8.703704     0.000000
2017-08-13  ...         0.0   0.000000      9.240741     0.000000
2017-08-14  ...         0.0   0.000000      8.722222     0.000000
2017-08-15  ...         0.0   0.000000      8.814815     0.000000

                                                                          \
family     PLAYERS AND ELECTRONICS    POULTRY PREPARED FOODS     PRODUCE
date
2017-01-01                0.000000   0.000000       0.037037    0.129630
2017-01-02                0.000000   0.259259       1.166667    5.629630
2017-01-03                0.000000   0.388889       1.351852   56.296296
2017-01-04                0.000000   0.296296       5.444444  101.277778
2017-01-05                0.000000   0.296296       0.907407    5.018519
...                            ...        ...            ...         ...
2017-08-11                0.000000  27.407407       0.537037    6.000000
2017-08-12                0.018519   0.111111       0.277778    6.000000
2017-08-13                0.000000   0.185185       0.222222    5.907407
2017-08-14                0.000000   0.129630       0.148148    6.018519
2017-08-15                0.092593   0.111111       0.166667   58.685185


family     SCHOOL AND OFFICE SUPPLIES   SEAFOOD
date
2017-01-01                   0.000000  0.000000
2017-01-02                   0.000000  0.407407
2017-01-03                   0.000000  0.407407
2017-01-04                   0.000000  0.333333
2017-01-05                   0.000000  0.444444
...                               ...       ...
2017-08-11                   2.666667  2.537037
2017-08-12                   2.759259  0.759259
2017-08-13                   2.777778  0.018519
2017-08-14                   2.851852  0.000000
2017-08-15                   2.740741  0.000000

[227 rows x 66 columns]

In [24]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
from statsmodels.tsa.deterministic import DeterministicProcess
from xgboost import XGBRegressor

In [25]:
y = family_sales.loc[:, 'sales']


# X_1: Features for Linear Regression
dp = DeterministicProcess(index=y.index, order=1)
X_1 = dp.in_sample()


# X_2: Features for XGBoost
X_2 = family_sales.drop('sales', axis=1).stack()  # onpromotion feature

# Label encoding for 'family'
le = LabelEncoder()  # from sklearn.preprocessing
X_2 = X_2.reset_index('family')
X_2['family'] = le.fit_transform(X_2['family'])

# Label encoding for seasonality
X_2["day"] = X_2.index.day  # values are day of the month

In [26]:
y.stack().squeeze()

date        family
2017-01-01  AUTOMOTIVE                       0.092593
            BABY CARE                        0.037037
            BEAUTY                           0.055556
            BEVERAGES                       74.222222
            BOOKS                            0.000000
                                             ...
2017-08-15  POULTRY                        325.679815
            PREPARED FOODS                  85.954129
            PRODUCE                       2316.832796
            SCHOOL AND OFFICE SUPPLIES      46.851852
            SEAFOOD                         17.966241
Length: 7491, dtype: float64

In [27]:
# YOUR CODE HERE: Create LinearRegression + XGBRegressor hybrid with BoostedHybrid
model = BoostedHybrid(LinearRegression() , XGBRegressor())

# YOUR CODE HERE: Fit and predict
model.fit(X_1, X_2, y)
y_pred = model.predict(X_1 , X_2)

y_pred = y_pred.clip(0.0)

In [32]:
X_2

            family  onpromotion  day
date
2017-01-01       0     0.000000    1
2017-01-01       1     0.000000    1
2017-01-01       2     0.000000    1
2017-01-01       3     0.703704    1
2017-01-01       4     0.000000    1
...            ...          ...  ...
2017-08-15      28     0.111111   15
2017-08-15      29     0.166667   15
2017-08-15      30    58.685185   15
2017-08-15      31     2.740741   15
2017-08-15      32     0.000000   15

[7491 rows x 3 columns]

In [35]:
y_pred.stack().squeeze()

<bound method NDFrame.squeeze of date        family
2017-07-02  AUTOMOTIVE                       0.000000
            BABY CARE                        1.259050
            BEAUTY                           0.000000
            BEVERAGES                     3944.596020
            BOOKS                            0.566241
                                             ...
2017-08-15  POULTRY                        366.528234
            PREPARED FOODS                  67.640758
            PRODUCE                       2410.198196
            SCHOOL AND OFFICE SUPPLIES       5.879571
            SEAFOOD                         14.386791
Length: 1485, dtype: float64>

In [36]:
y.stack().squeeze()

date        family
2017-01-01  AUTOMOTIVE                       0.092593
            BABY CARE                        0.037037
            BEAUTY                           0.055556
            BEVERAGES                       74.222222
            BOOKS                            0.000000
                                             ...
2017-08-15  POULTRY                        325.679815
            PREPARED FOODS                  85.954129
            PRODUCE                       2316.832796
            SCHOOL AND OFFICE SUPPLIES      46.851852
            SEAFOOD                         17.966241
Length: 7491, dtype: float64